body{
    /* background-color: #CC64A2; */
    background-image: linear-gradient(to top right,#CC64A2,#5c3075);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 1000px;
    width:900px;
    margin-left: 650px;
    margin-top: 100px;
}
.list{

    display: grid;
    grid-template-columns: repeat(3,300px);

grid-gap: 50px;
}
.item .imag img{
    height: 200px;
}
.item .imag{
    display: flex;
    justify-content: center;
}
.content .product{
    display: flex;
    justify-content: center;
}
.content .details {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color:rgb(179, 119, 236);
    border-radius: 40px;
    margin-left: 70px;
    padding:15px 30px 15px 30px;
    font-size: 20px;
    
}
