body{
    background-image: linear-gradient(to top right,#CC64A2,#5c3075);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 1000px;
    width:900px;
    margin-left: 550px;
    margin-top: 100px;
}
.list{

    display: grid;
    grid-template-columns: repeat(3,300px);

grid-gap: 20px;
}
.item .imag img{
    height: 250px;
    transition: transform 0.2s; 
}

.item .imag img:hover{
transform:translate(0,-50px)
}


.item .imag{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top right,#D89CD1,#D499D4);
border-radius: 20px;
}


.content .title{
    display: flex;
    justify-content: center;
}

.content .details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background-color:rgb(201, 173, 228);
    border-radius: 40px;
    margin-left: 70px;
    padding:10px 30px 10px 30px;
    font-size: 20px; 
    transition: transform 0.3s ,opacity 0.3s;

}

.title{
    font-weight:900;
    font-size: 20px;
}
.content{
    color:#fff;
}
.price{
    font-weight: 900;
}
.add:hover{
    transform:scale(1.1) ;
    opacity:2;
    color: rgb(156, 34, 26);
}
.content{
    background-color:#ffffff26;
    border-radius: 30px;
    padding-top: 30px;
    transform: translate(0px,-30px);
    backdrop-filter: blur(20px);
}

.listpage{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-gap: 20px;
    text-align: center;
    margin-left: 300px;
    
   
}
.Previ{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.Previ:hover{
    background-color:rgb(201, 173, 228);

}
.Nexts:hover{
    background-color:rgb(201, 173, 228);

}
.Nexts{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.active{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.active:hover{
    background-color:rgb(201, 173, 228);

}