body{
    /* background-color: #CC64A2; */
    background-image: linear-gradient(to top right,#CC64A2,#5c3075);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 1000px;
    width:900px;
    margin-left: 650px;
}
.list{

    display: grid;
    grid-template-columns: repeat(3,300px);
border: 2px black;
}
.item .imag img{
    height: 250px;
}

