*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/wallpaperflare.com_wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header h1{
    font-size: 50px;
    text-decoration:  underline;
}
 nav
{
 float:left;
 list-style-type: none;
}
 nav 
{
    display: inline-block;    
}

 nav a
{
    color: rgb(20, 20, 20);
text-decoration:rgb(2, 2, 2);
color-scheme: rgb(5, 5, 5);
padding: 10px 30px;
border: 2px solid rgb(7, 7, 7);
transition: 0.5s ease;
}
nav a:hover
{
 background-color: rgb(148, 155, 152);
 color:rgb(8, 8, 8);
}

/* .gradient a{
    background-color: rgb(219, 231, 231);
    color:rgb(175, 18, 18);
} */

.logo img
{
    background-color:blacklinear-gradient(rgba(26, 23, 23, 0.5),rgba(0,0,0,0.5));
    box-shadow: 4px 4px black;
   float:right;
   width:200px;
   height:auto;
}

.title h2{
    position:absolute;
    top:50%;
    left:58%;
    transform:translate(-50%,-50%);
    color:rgb(15, 15, 16);
    font-size: 85px;   
    text-shadow: 4px 4px rgb(226, 237, 237);
}
.insta img
{
    position:absolute;
  top:92%;
  left:84%;
  width:53px;
  height:auto;
}
.fb img{
    position:absolute;
    top:92%;
    left:88%;
    width:50px;
    height:auto; 
}
.ln img{
    position:absolute;
    top:92%;
    left:92%;
    width:60px;
    height:auto; 
}
.twt img{
    position:absolute;
    top:92%;
    left:96%;
    width:60px;
    height:auto; 
}
.meet a{
    position: absolute;
    top: 89%;
    left:94%;
    color: black;
    font-size:20px;
}
.sign img{
    position: absolute;
    top: 70%;
    left:50%;
    width:110px;
    height: auto;
    box-shadow: 1px 1px rgb(235, 232, 222);
}
.login img{
    position: absolute;
    top: 70%;
    left:44%;
    width:110px;
    height: auto;
    box-shadow: 1px 1px rgb(235, 232, 222);
}

  
