body{
    background-color:rgb(209, 206, 206);
    font-family: 'Poppins', sans-serif;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    
}
nav ul{
    display: flex;
    gap: 60px;
    margin-left: 400px;
    height:10px;
    width:520px;
  font-weight: bold;    
    align-items: center; 
   
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin:0;
   padding:0;
}
input:hover{
    background-color: aquamarine;
}
input{
    height:25px;
   margin:0;
   padding:0;
}
div{
     margin:0;
   padding:0;
}
/* p{  
    position:absolute;
    top:100px;
    left:100px;
    font-weight:950;

} */
    



