
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 0;
    }
    h5{
        
        margin-left: 650px;
        font-size: 100px;
        margin-top:-1150px;
        font-weight: 500;
    }
    nav{
        border: 2px solid black;
        position: relative;
        top:200px;
         left:-220px;
         padding:1px 500px 300px 500px;
         margin-left: -500px;
         

    }
    p{
font-size: 50px;
    }
  
   ul{
    display: grid;
    grid-template-columns: repeat(3, 200px);
grid-template-rows:200px 200px 200px;
    
    margin-left: -150px;

   }
  border li{

    /* border: 1px solid black; */
    
    position: relative;
    top: 100px;
    left: -20px;
    animation: none;
    transition: none;
    transform: none;
    list-style-type: none;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  
   }
 
 bor{
    position: relative;
    top: -500px;
    left: 600px;
 }
 bor span{
    font-size: 40px;
 }
 bor button{
    font-size:30px ;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
 }
   
   
    
    
    
