
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 0;
    }
    h5{
        
        margin-left: 650px;
        font-size: 100px;
        margin-top:-1150px;
        font-weight: 500;
    }
    nav{
        border: 2px solid black;
        position: relative;
        top:200px;
         left:-220px;
         padding:1px 500px 300px 500px;
         margin-left: -500px;
         

    }
    p{
font-size: 50px;
    }
   
   ul{
    display: grid;
    grid-template-columns: repeat(3, 200px);
grid-template-rows:200px 200px 200px;
    grid-gap: 10px;
    margin-left: -100px;

   }
  border li{

    /* border: 1px solid black; */
    padding-bottom: 300px;
    position: relative;
    top: 100px;
    left: -20px;
    animation: none;
    transition: none;
    transform: none;
    list-style-type: none;
   }
   bor{
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -210px;
    margin-left:30px ;
    
   }
  bor div{
  border: 1px solid black;
  padding-right:300px ;
  margin-left:-30px ;
  margin-top: 100px;
  list-style-type: none;
  animation: none;
  transition: none;
  transform: none;
   }
   
   
    
    
    
